<nav class="navbar navbar-default navbar-fixed-bottom footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                &copy; <a href="http://www.watchsteez.com">www.watchsteez.com</a> | All Rights Reserved.
            </div>
            <div class="col-sm-4">
                <div class="sales-link">
                    <a mailto="sales@watchsteez.com">sales@watchsteez.com</a>
                </div>
            </div>
        </div>
    </div>
</nav>