{% extends './layouts/master-template.html' %} {% block content %}

<ul id="instagram-container" class="instagram-container">


</ul>


<div class="container about-content">
    <div class="row">
        <div class="col-md-3">
            <div><strong>justin vrakas</strong>
                <div>
                    <div><a mailto="justin@watchsteez.com">justin@watchsteez.com</a>
                    </div>
                    <div>(414) 651-5445</div>
                    <div>Milwaukee, WI</div>
                </div>

            </div>
        </div>
        <div class="col-md-9">
            <p><strong>about:</strong> Justin purchased his first watch when he was 14. It was a two-tone Casio for $51.15 and he still has the watch complete with boxes, paperwork, and receipt. Things have changed quite a bit since then. "My first great vintage watch was a Universal Geneve Polerouter Automatic passed down to me from my great grandfather who was a highly- skilled watchmaker." Justin then decided to take two semesters of horology classes classes at MATC in Milwaukee, Wisconsin to learn more about the art of watchmaking and repair. He is a member of the Commonwealth Crew, Chicago's version of the Red Bar Crew in New York where you can meet people that are equally-obsessed with horology.</p>
            <p><strong>
                vision:</strong> Where do I buy vintage watches? Who can I trust? Watch collectors frequently ask us these questions. Here at watchsteez.com, our main goal is to bring a collection of tasteful, yet affordable vintage watches to the market. You may also see an occasional modern watch thrown into the mix. Sometimes it's all about style and design.</p>
            <p>
                <strong>style guide:</strong> Be sure to also visit our style guide. We believe that you shouldn't have to spend a fortune to have great style.
            </p>
        </div>
    </div>
</div>

{% endblock %}