{% extends './layouts/master-template.html' %} {% block content %}
<div class="hero">
    <div class="row">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- <div id="carousel-example-generic" class="carousel slide" data-ride=""> -->
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="8"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="/images/hero/ss1.jpg">
                    </div>
                    <div class="item">
                        <img src="/images/hero/ss2.jpg">
                    </div>
                    <div class="item">
                        <img src="/images/hero/ss3.jpg">
                    </div>
                    <div class="item">
                        <img src="/images/hero/ss4.jpg">
                    </div>
                    <div class="item">
                        <img src="/images/hero/ss5.jpg">
                    </div>
                    <div class="item">
                        <img src="/images/hero/ss6.jpg">
                    </div>
                    <div class="item">
                        <img src="/images/hero/ss7.jpg">
                    </div>
                    <div class="item">
                        <img src="/images/hero/ss9.jpg">
                    </div>
                    <div class="item">
                        <img src="/images/hero/SS13.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container home-content">
    <div class="row">
        <div class="col-md-8">
            <h2>watchsteez</h2>
            <h3>a distinct manner of expression</h3>
        </div>
        <div class="col-md-8">
            <p class="lead">
                Here at watchsteez.com, each vintage watch comes with a unique story. In essence, these watches help us remember the past. View our collection of vintage and modern watches and start writing your own story! Be sure to also visit our style guide and blog for ideas. We believe that you shouldn't have to spend a fortune to have great style.
            </p>
        </div>
        <div class="col-md-4">
            <blockquote>
                <p>"My first great vintage watch was a Universal Geneve Polerouter Automatic and it was passed down to me from my great grandfather who was a highly-skilled watchmaker. This watch will never be offered for sale."</p>
                <p>-Justin Vrakas</p>
            </blockquote>

        </div>
    </div>
</div>

{% endblock %}